* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-weight: 900;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    height: 95vh;
    position: relative;
}
h1 {
    color: black;
    background-color: rgba(255, 0, 255, 0.5);
    text-align: center;
}

.container {
    position: absolute;
    background-color: #222;
    border: 5px solid rgb(75, 75, 75);
    height: 80vh;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #000;
}

.display {
    background-color: #000;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 32px;
    padding: 10px;
    margin-bottom: 10px;
}

#row {
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: center;
}

span {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    background-color: #222;
    padding: 25px;
    height: 12vh;
    width: 10vw;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 1px 3px;
    box-shadow: 3px 6px 2px #111;
}

span#blue {
    background-color: rgba(0, 191, 255, 0.7);
}